<html>

<head>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="/bower_components/socket.io-client/dist/socket.io.js"></script>
    <style>
        .subframe{
            color: black;
            height: 100px;
            width: 100px;
        }
        .mainframe{
            float: left;
        }
    </style>
</head>

<body>
    <div class="subframe">

    </div>
    <div class="mainframe">
        <h1>Home</h1>
        <br>
        <ul id="msgbox"></ul>
        <form id="socketform">
            <input type="text" name="text" id="edittext">
            <input type="submit" id="submit">
        </form>
        <button id="logout">Logout</button>
    </div>
</body>
<footer>
    <script src="/javascripts/homeinit.js"></script>
</footer>

</html>