<html>

<head>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<!-- <form method="POST">
    <div class="conatiner">
        <div class="row justify-content-center">
            <div class="col-6 align-self-center">
                <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="w-100"></div>
            <div class="col-6 align-self-center">
                <input type="text" class="form-control" id="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="w-100"></div>
            <div class="align-self-center">
                <button class="btn btn-primary" id="auth">Login</button>
            </div>
        </div>
        
    </div>
</form> -->

<body>
    <div class="login-box">
        <input type="text" class="form-control input" id="username" placeholder="Username">
        <input type="text" class="form-control input" id="password" placeholder="Password">
        <button class="btn btn-primary login" id="auth">Login</button>
    </div>
</body>
<footer>

    <script src="/javascripts/auth.js"></script>
</footer>

</html>